.tab {
    font-size: 16px;
    font-weight: 400;
    color: white;
}
button {
    border-radius: 30px;
    margin: 0 10px;
    padding: 0 10px;
    height: 35px;
    min-width: 80px;
}
.active {
    // border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.816);
    color: rgb(0, 0, 0);
}
