.detail {
    min-height: calc(((100vh - 64px) - 90px) - 519px);
    scroll-behavior: smooth;
}
.detail::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    background-color: #c90a0a;
}
.detail_header {
    height: 30vh;

    max-height: 400px;
    min-height: 340px;
    color: #fff;

    padding: 0 24px 24px 24px;
    display: flex;
    max-width: none;
    overflow: hidden;
    padding-bottom: var(--content-spacing);
    position: relative;
    &::before {
        content: '  ';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        // background-color: rgb(104, 152, 176);
    }
    &::after {
        content: '';
        background: linear-gradient(transparent 0, rgba(0, 0, 0, 0.5) 100%), var(--background-noise);
    }
}

.image {
    width: 230px;
    height: 230px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
    margin-right: var(--content-spacing);

    &:hover {
        transform: scale(1.008);
        transition: all 1s ease-in-out;
    }
}

.title {
    line-height: normal;
    margin-top: 8px;
    overflow: hidden;
    text-align: left;
    width: 100%;
    word-break: break-word;

    h1 {
        box-sizing: border-box;
        -webkit-tap-highlight-color: transparent;
        margin-block: 0px;
        margin: 0.08em 0px 0.12em;
        visibility: visible;
        width: 100%;
        font-size: 4rem;
        font-weight: 900;
        font-family: var(
            --font-family,
            CircularSp,
            CircularSpTitle-Tall,
            CircularSp-Arab,
            CircularSp-Hebr,
            CircularSp-Cyrl,
            CircularSp-Grek,
            CircularSp-Deva,
            var(--fallback-fonts, sans-serif)
        );
        color: var(--text-base, #000000);
    }
}
.detail-main {
    padding: 24px 24px;
}

.icon-play {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgba(34, 225, 34, 0.803);

    &:hover {
        transform: scale(1.009);
        transition: all 1s ease-in-out;
    }
}

.icon-heart {
    font-size: 2em;
}
.detail-song {
    border-bottom: 1px solid #e5e5e56f;
    grid-template-rows: 1fr 0.5fr;
    margin-top: 30px;
}
.detail-song,
.detail--song {
    display: grid;
    grid-template-columns: 0.1fr 2.5fr 0.1fr;
    grid-auto-flow: row;
    grid-template-areas: 'index Title Time';
}
.detail--song {
    display: grid;
    align-content: center;
    height: 60px;
}

.Title {
    grid-area: Title;
}

.Time {
    grid-area: Time;
}

.index {
    grid-area: index;
}

pre {
    white-space: pre-wrap;
}

.ff {
    margin-top: 10px;
    max-width: var(--content-max-width);
    padding: 0 var(--content-spacing);
    h1 {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 10px;
    }
}
.aa {
    display: flex;
    justify-content: space-between;
    width: 950px;
    .lyric {
        width: 300px;
        span {
            -webkit-box-align: start;
            -ms-flex-align: start;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            align-items: flex-start;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
        }
    }
}
.info-artist {
    display: flex;
    flex-wrap: wrap;
    height: 10px;
    padding: 10px;
    font-size: 16px;
    height: fit-content;
    font-weight: 600;
    :hover {
        span {
            text-decoration: underline;
        }
    }
}
